.ico-repair,
.ico-checkstatus,
.ico-burger,
.ico-call,
.ico-chat,
.ico-profile,
.ico-search,
.ico-burger-active,
.ico-go
 {
	display: block;
	min-width: 40px;
	min-height: 40px;
}

.ico-logo {
	display: block;
	min-width: 97px;
	min-height: 51px;
	background: url("../img/ico/logo.svg") no-repeat;
}

.ico-repair {
	background: url("../img/ico/repair.svg") no-repeat;
}

.ico-checkstatus {
	background: url("../img/ico/checkstatus.svg") no-repeat;
}

.ico-burger {
	background: url("../img/ico/burgerburger.svg") no-repeat;
}

.ico-call {
	background: url("../img/ico/call.svg") no-repeat;
}

.ico-chat {
	background: url("../img/ico/chat.svg") no-repeat;
}

.ico-profile {
	background: url("../img/ico/profile.svg") no-repeat;
}

.ico-search {
	background: url("../img/ico/search.svg") no-repeat;	
}

.ico-burger-active {
	background: url("../img/ico/burger-active.svg") no-repeat;	
}

.ico-go {
	background: url("../img/ico/go.svg") no-repeat;
}