$background-color--main: #F8F8F8;
$background-color--body: #fff;
$background-color--submit: #FF3E79;
$borderColor: #EAEAEA;
$active-color: #B8FFEC;

$bullet-color-active: #B5B6BC;
$bullet-color: #DDD;
$form-color: #FF3E79;

$font-family: 'TT Lakes';

$mainColor: #1B1C21;
$subColor: #7E7E82;

$fontNormal: 400;
$fontRegular: 500;
$fontBold: 700;

$screen-mobail: 320px;
$screen-tablet: 767px;
$screen-desktop: 1120px;
$screen-big-desktop: 1400px;
